body
  {
  text-align: center;
   background-color: #ffffff;
   background: linear-gradient(to bottom left, #36b8f4, #36a8f4, #3698f4, #3688f4, #36a8f4, #3698f4);

}


}

.title {
  color: #333333;
  text-align: center;
  font-weight: 100;
  font-family: "Comic Sans MS", cursive, Sans-serif;
}

</body> 



